^{:css-dirs ["resources/public/css"]}
; Options documented here: https://clojurescript.org/reference/compiler-options
{:main symbolica.core
 :verbose true
 :externs ["yayquery-externs.js"]
 :libs ["src/closure"]
 :foreign-libs [{:file "src/js/calc.js"
                 :provides ["calc"]}]
 }
